<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Person number: {{ person.id }} and name: {{ person.name }}</h2>
    <p>
    {% if person.gender %}
        Gender: {{ person.gender }}
    {% endif %}
    </p>
    <p>
    {% if person.birthday %}
        Birthday: {{ person.birthday }}
    {% endif %}
    </p>
    <p>
    {% if person.country %}
        Country: {{ person.country }}
    {% endif %}
    </p>
    <p>
    {% if person.race %}
        Race: {{ person.race }}
    {% endif %}
    </p>

  </body>
</html>
